 <%if user_signed_in?%>
    <li class="nav-item">
        <%=link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%=link_to "Mis EFACS", efacs_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%=link_to "Crear EFAC", new_efac_path, class:"nav-link"%>
    </li>
<%else%>
    <li class="nav-item">
        <%=link_to "Iniciar sesión", new_user_session_path, class:"nav-link"%>
    </li>
<%end%>

