<div class="side-bar">
    <li>
      <a class="active" href="/">
        <i class="icon-side-bar fas fa-home"></i>
        <p>Inicio</p>
      </a>
    </li>
    <li>
      <%=link_to "<i class='icon-side-bar fas fa-edit'></i>
      <p>Solicitudes de eventos formativos </p>".html_safe, efacs_path %>
    </li>

    <!--
    <li>
      <a href="">
        <i class="icon-side-bar fas fa-copy"></i>
        <p>Eventos formativos</p>
      </a>
    </li>

      <li>
        <a href="">
          <i class="icon-side-bar fas fa-vote-yea"></i>
          <p>Informes recibidos</p>
        </a>
      </li>
    -->
</div>