<div class="side-bar">
    <li>
      <%= link_to root_path do %>
        <i class="icon-side-bar fas fa-home"></i>
        <p>Inicio</p>
      <% end %>
    </li>
    <li>
      <%= link_to users_path do %>
        <i class="icon-side-bar fas fa-user"></i>
        <p>Usuarios</p>
      <% end %>
    </li>
</div>
