<div class="side-bar">
    <li>
      <a  href="">
        <i class="icon-side-bar fas fa-home"></i>
        <p>Inicio</p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="icon-side-bar fas fa-edit"></i>
        <p>Responsables </p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="icon-side-bar fas fa-copy"></i>
        <p>Instancias responsables</p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="icon-side-bar fas fa-vote-yea"></i>
        <p>Instructores</p>
      </a>
    </li>
</div>