<div class="side-bar">
    <li> >class="active">
      <a href="/">
        <i class="icon-side-bar fas fa-home"></i>
        <p>Inicio</p>
      </a>
    </li>
    <li>
        <%=link_to "<i class='icon-side-bar fas fa-edit'></i>
        <p>Mis eventos formativos </p>".html_safe, efacs_path %>
    </li>
    <!--
        <li>
            <%=link_to "<i class='icon-side-bar fas fa-copy'></i>
            <p>Mis informes </p>".html_safe, efacs_path %>
        </li>
        <li>
            <%=link_to "<i class='icon-side-bar fas fa-users'></i>
            <p>Solicitud de participantes</p>".html_safe, efacs_path %>
        </li>
        <li>
            <%=link_to "<i class='icon-side-bar fas fa-users'></i>
            <p>Comprobantes de pago</p>".html_safe, efacs_path %>
        </li>
        
    -->    
</div>