<br><br>

<div class="home">

    <div class="home-container">
        <strong>Mis eventos formativos pendientes a evaluar </strong>
        <h1>
            <%= Efac.where(state: "waiting", user_id: current_user.id).count%>
        </h1>
        
    </div>
    <div class="home-container">
        <strong>Mis eventos formativos en edición </strong>
        <h1>
            <%= Efac.where(state: "editing", user_id: current_user.id).count%>
        </h1>
        
    </div>
    <div class="home-container">
        <strong>Mis eventos formativos aprobados </strong>
        <h1>
            <%= Efac.where(state: "aproved", user_id: current_user.id).count%>
        </h1>
    </div>
</div>
    