<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Usted a sido registrado en SIGEF</h1>
        <h4>(Sistema de Gestión de Eventos Formativos y de Capacitación de la Universidad de Sonora)</h4>
        <p>
            Para empezar a utilizar la plataforma de SIGEF, utilice la dirección de correo electrónico donde recibe este email con su contraseña: <i><%=@password%></i>
        </p>
        <p>
            Puede cambiar su contraseña ya que inicie sesión a la plataforma.
        </p>
    </body>
</html>