 <!-- Page content -->
 <div class="w3-container">

   <div class="container-fluid">
     <div class="jumbotron jumbotron-fluid"">
       <div class="container">
         <p>
           <strong>Nombre:</strong>
           <%= @user.name%>
           <strong>Rol:</strong>
           <i> <%= @user.permission %> </i>
         </p>
          <p>
           <strong>Correo electrónico:</strong>
           <%= @user.email%>
         </p>
     </div>
   </div>
  </div>


   <div class="container">


     <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver</button>'.html_safe, users_path %>
   </div>

  </div>
