  <h1>Bienvenido a SIGEF </h1>
  <br>
  <h5><%= link_to  "Cerrar Sesión", destroy_user_session_path, method: :delete %></h5>

  <% if current_user.instance?%>



  <% elsif current_user.admin? %>

  <% elsif current_user.responsible? %>


  <% end %>

