  <h1>Bienvenido a SIGEF </h1>
  <br>

  <% if current_user.instance?%>
  <%=render "partials/welcome_instance"%>

  <% elsif current_user.admin? %>
  <%=render "partials/welcome_admin"%>

  <% elsif current_user.responsible? %>
  <%=render "partials/welcome_responsible"%>




  <% end %>

