<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Actualización del evento <%=@event%> SIGEF</h1>
        <p>
            Por este medio le informamos que el evento "<%=@event%>" lamentablemente ha sido rechazado.
        </p>
    </body>
</html>