<p>Hola, <%= @resource.email %>!</p>

<p>Si solicitó reestablecimiento de contraseña, haga clic en el botón que aparece a continuación.</p>

<p><%= link_to 'Reestablecer contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitó esto, por favor ignore este mensaje.</p>
<p>Su contraseña no cambiará hasta que acceda al link y cree una nueva contraseña.</p>